fastapi
uvicorn[standard]
httpx
python-json-logger
python-logging-loki
python-multipart
prometheus_client

opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-httpx
opentelemetry-exporter-otlp-proto-grpc

motor
PyJWT